body
{
  margin: 0;
  padding: 0;
  background: #F8F9F9;
  font-family: sans-serif;
}
.prod
{
  width: 1280px;
  background: #F8F9F9;
 
  margin: 20px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background:rgba(255,0,0, 0.1); /* Fallback color */

  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.imgbox:hover .overlay {
  height: 100%;
}

.text {
  color: #181818;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.prod .box
{
  position: relative;
  width: 250px;
  height: 300px;
  background: #F8F9F9;
  margin: 30px;
  box-sizing: border-box;
  display: inline-block;
}

.prod .box .imgbox
{
  position: relative;
  overflow: hidden;
}

.prod .box .imgbox img
{
  max-width: 100%;
  transition: transform 2s;
}

